.error{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: .4em;
    font-family: arial;
    font-weight: 600;
    margin:.3em;
    text-align:center;
}
.bodyError{

    /* opacity: .5; */
    animation:errorBody 1s linear;
}
@keyframes errorBody {

    10%{
        background-color:red;
    }
    40%{
        background-color:white;
    }
    80%{
        background-color:red;
    }
    90%{
        background-color:white;
    }
    100%{
        background-color:red;
    }
}